.code {margin-top: 25px;}
.ad {z-index: 5;
  position: center;
}

.meerkat {
  color: #FFF;
  display: none;
}
.pos-bot .ad {
  width: 100%;
  height: 60px;

  /*left: 5%;*/
  /*margin-left: -364px;*/
}
.pos-bot .ad {top: 20px;}


.meerkat .ad{
  text-align: right;
}
.meerkat .ad p img{
  width: 100%;
}

.meerkata .ad{
  text-align: right;
}
.meerkata .ad p img{
  width: 100%;
}
